footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 200px;
        justify-content: space-evenly;
        margin: 50px 0;
    }
}